CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n
CONFIG_LWIP_IPV4=y
CONFIG_MICRONET_STUN_WIFI_SSID="YOUR_WIFI_SSID"
CONFIG_MICRONET_STUN_WIFI_PASSWORD="YOUR_WIFI_PASSWORD"
CONFIG_MICRONET_STUN_HOST=""
CONFIG_MICRONET_STUN_PORT=19302
CONFIG_MICRONET_STUN_LOCAL_PORT=3479
