#pragma once

#define MNET_WIFI_SSID "your_wifi_ssid"
#define MNET_WIFI_PASSWORD "your_wifi_password"
#define MNET_NODE1_IP "192.168.1.101"
#define MNET_NODE2_IP "192.168.1.102"
#define MNET_NODE3_IP "192.168.1.103"
