CONFIG_MICRONET_DEMO_NODE_SLOT=2
CONFIG_MICRONET_DEMO_WIFI_SSID="YOUR_WIFI_SSID"
CONFIG_MICRONET_DEMO_WIFI_PASSWORD="YOUR_WIFI_PASSWORD"
CONFIG_MICRONET_DEMO_NODE1_IP="192.168.1.101"
CONFIG_MICRONET_DEMO_NODE2_IP="192.168.1.102"
CONFIG_MICRONET_DEMO_NODE3_IP="192.168.1.103"
